<%= form_for @issue, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name == 'new' ? 'Criar' : 'Editar' %> assunto</legend>

    <div class="control-group">
      <%= f.label "Descrição", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', issues_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
