<h1>Assuntos</h1>

<table>
  <tr>
    <th>Descrição</th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= issue.description %></td>
    <td><%= link_to 'Editar', edit_issue_path(issue) %></td>
    <td><%= link_to 'Deletar', issue, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_issue_path %>
