<h1>Usu:&aacute;rios</h1>
<div class="new"><%= link_to 'Novo', new_user_path, :class => 'btn btn-primary ' %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Login</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td>
          <%= link_to 'Editar', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Deletar', user_path(user), :method => :delete, :confirm => 'Tem certeza?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>