<h1>Departamentos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
  </tr>

<% @departments.each do |department| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= department.name %></td>
    <td><%= link_to 'Editar', edit_department_path(department) %></td>
    <td><%= link_to 'Deletar', department, confirm: 'Tem certeza?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_department_path %>
