<%= form_for @document, :validate => true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name == 'new' ? 'Criar' : 'Editar' %> documento</legend>

    <div class="control-group">
      <%= f.label "Empresa", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :company_id,
          Company.find(:all).collect { |company| [company.name, company.id] },
          :prompt => "Selecione..." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Assunto", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :issue_id,
          Issue.find(:all).collect { |issue| [issue.description, issue.id] },
          :prompt => "Selecione..." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Departamento", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :department_id,
          Department.find(:all).collect { |department| [department.name, department.id] },
          :prompt => "Selecione..." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Descrição", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "Pasta", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :place, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', documents_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
