<h1>Documentos</h1>


  <div class="search">
    <div>Pesquisar por:</div>

    <%= form_for @document, :method => 'get', :url => search_documents_path do |f| %>
        <label>Descrição</label>
        <%= f.text_field :description %>

        <%= f.select :issue_id,
          Issue.find(:all).collect { |issue| [issue.description, issue.id] },
          :prompt => "Assunto..." %>

        <%= f.select :company_id,
          Company.find(:all).collect { |company| [company.name, company.id] },
          :prompt => "Empresa..." %>

        <%= f.select :department_id,
          Department.find(:all).collect { |department| [department.name, department.id] },
          :prompt => "Departamento..." %>
        <%= f.submit "Ok" %>
    <% end %>
</div>  


<table>
  <tr>
    <th>Empresa</th>
    <th>Assunto</th>
    <th>Departamento</th>
    <th>Descrição</th>
    <th>Lugar</th>
    <th>Situação</th>
    <th></th>
    <th></th>
  </tr>

<% @documents.each do |document| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= document.company.name %></td>
    <td><%= document.issue.description %></td>
    <td><%= document.department.name %></td>
    <td><%= document.description %></td>
    <td><%= document.place %></td>
    <td><%= document.status %></td>
    <td><%= link_to '', edit_document_path(document), :class => "edit_item", :title => "Editar" %></td>
    <td><%= link_to '', document, confirm: 'Tem certeza?', method: :delete, :class => "delete_item" , :title => "Deletar"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo', new_document_path %>
