<%= form_for @company, :validate => true, :remote => is_remote_action, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name == 'new' ? 'Criar' : 'Editar' %> empresa</legend>

    <div class="control-group">
      <%= f.label "Nome", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancelar', cancel_action, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
